<img src="{{ product.properties['img_path'] }}" alt="product">
<h1>{{ product.properties['name'] }}</h1>
<p>{{ product.properties['description'] }}</p>
<a href="/?c=cart&a=add&id={{ product.properties['id'] }}">Add to cart</a>